@model BudgetTracker.Models.Budget

<div class="container">
    <div class="border border-secondary border-3 col-12 p-3">
        <div class="mb-4">
            <h1 class="display-4">New Budget Period</h1>
            <a asp-action="Index" class="p-0 btn btn-link text-secondary">&lt; Back To Budget List</a>
        </div>

        <form asp-controller="Budgets" asp-action="Create">
            @Html.HiddenFor(m => m.Id)
            <div class="mb-3 row">
                <div class="col-6">
                    <label class="form-label">Expense Description</label>
                    <input asp-for="Name" class="form-control" type="text" placeholder="Name of Budget" />
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-6">
                    <label class="form-label">Budget's Start Date</label>
                    <input asp-for="BudgetStartDate" class="form-control" type="date" />
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-6">
                    <label class="form-label">Budget's End Date</label>
                    <input asp-for="BudgetEndDate" class="form-control" type="date" />
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-3">
                    <button class="btn btn-primary form-control text-center" type="submit">Add Budget</button>
                </div>
            </div>
        </form>
    </div>
</div>